<ul class="nav nav-sidebar">
    <li><a href="@Url.Action("Index", "Nosotros")">- Nosotros<br><span class="small">soluciones de vanguardia</span></a></li>
    <li><a href="#">- Negocios<br><span class="small">calidad en nuestros productosa</span></a></li>
    <li><a href="@Url.Action("Index", "Sustentabilidad")">- Sustentabilidad<br><span class="small">cuidar a nuestra gente</span></a></li>
    <li><a href="@Url.Action("Index", "Novedades")">- Novedades<br><span class="small">estar siempre actualizados</span></a></li>
</ul>
<ul class="nav nav-footer">
    <li><a href="#">Zona Comercial</a></li>
    <li><a href="@Url.Action("Contacto", "Home")">Contacto</a></li>
    <li><a href="#" class="active">Acceso Clientes</a></li>
    <li>
        <ul class="social">
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                        <i class="fa fa-youtube-play fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                        <i class="fa fa-linkedin fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li><a href="@Url.Action("Mapa", "Home")">Mapa del sitio</a></li>
        </ul>
    </li>
</ul>