@model List<CNV_Site.Models.RegulacionesTiposViewModel>
@{
    ViewBag.Title = "Institucional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Content/assets/css/marco-regulatorio.css" rel="stylesheet">
<section id="title-int" class="marco-regulatorio">
    <div class="container-fluid no-padding">
        <h1>Marco Regulatorio</h1>
    </div>
</section>
<section id="content">
    <div class="container">

        <div class="col-sm-12">
            <p class="center">En esta sección podés acceder a las Leyes, Decretos y Resoluciones Generales que forman parte de la legislación que le posibilita a la CNV a ejercer sus funciones de regulador en el mercado de capitales argentino</p>


            <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                @{int count = 0;
                    string act = "";string col = ""; string styl = "";}
                @foreach (CNV_Site.Models.RegulacionesTiposViewModel RTVM in Model)
                {

                    count = count + 1;
                    if (count == 1)
                    {
                        act = "active";
                        col = "in";
                        styl = "style='height: 0px; '";
                    }
                    else
                    {
                        act = "";
                        col = "";
                        styl = "";
                    }
                    <div class="panel">
                        <div class="panel-heading @act" role="tab" id="heading@(count)">
                            <h4 class="panel-title">
                                @if (count == 1)
                                {  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(count)" aria-expanded="false" aria-controls="collapse@(count)"  class="collapsed"> <strong>@RTVM.TipoRegulacion.nombre</strong></a>
                                }
                                else
                                {
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(count)" aria-expanded="false" aria-controls="collapse@(count)" class="collapsed"> <strong>@RTVM.TipoRegulacion.nombre</strong></a> 
                                }
                            </h4>

                        </div>

                        <div id="collapse@(count)" class="panel-collapse collapse  @(col)" role="tabpanel" aria-labelledby="heading@(count)" @(styl)>
                            <div class="panel-body">
                                <p>En esta sección podés acceder a las Leyes, Decretos y Resoluciones Generales que forman parte de la legislación que le posibilita a la CNV a ejercer sus funciones de regulador en el mercado de capitales argentino.</p>
                                <div class="table-responsive">

                                    @*@if (RTVM.Regulaciones.Exists(x => x.prefijo == "CRI" || x.prefijo == "DEC" || x.prefijo == "FCI" || x.prefijo == "LEY"))
                                    {*@
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>NÚMERO</th>
                                                    <th>DESCRIPCIÓN</th>
                                                    <th>ESPAÑOL</th>
                                                    <th>ENGLISH</th>
                                                    <th>OTROS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (CNV_Site.Models.Regulaciones R in RTVM.Regulaciones)
                                                {
                                                    <tr>
                                                        <td >@R.numero</td>
                                                        <td>@Html.Raw(R.descripcion)</td>
                                                         
                                                        @if (R.links.Count == 0)
                                                         {
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                         }
                                                         else { 
                                                        foreach (CNV_Site.Models.Links enl in R.links)
                                                        {
                                                            if (enl.idioma=="Español")
                                                            {
                                                           <td><a href="@Html.Raw(enl.url)"><img src="~/Content/assets/img/pdf.png"></a></td>  
                                                                break;
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                                break;    
                                                                }
                                                           
                                                        }   
                                                        
                                                        foreach (CNV_Site.Models.Links enl in R.links)
                                                        {
                                                            if (enl.idioma == "Inglés")
                                                            {
                                                                        <td><a href="@Html.Raw(enl.url)"><img src="~/Content/assets/img/pdf.png"></a></td>
                                                                        break;               
                                                                    } else
                                                                    {
                                                                <td></td>
                                                                break;    
                                                                }
                                                                    
                                                         }

                                                        foreach (CNV_Site.Models.Links enl in R.links)
                                                        {
                                                            if (enl.idioma != "Inglés" && enl.idioma != "Español")
                                                            {
                                                                <td><a href="@Html.Raw(enl.url)"><img src="~/Content/assets/img/pdf.png"></a></td>
                                                                break;
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                                break;
                                                            }

                                                        }
                                                       }
                                                    
                                                       
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                </div>
                                @foreach (CNV_Site.Models.Regulaciones R in RTVM.Regulaciones)
                                {
                                    if (R.anexos.Count > 0)
                                    {<h1>Anexos</h1>
                                        break;
                                    }
                                }
                                @foreach (CNV_Site.Models.Regulaciones R in RTVM.Regulaciones)
                                {

                                    foreach (CNV_Site.Models.Regulaciones link in R.anexos.Distinct())
                                    {
                                        foreach (var enl in link.links.GroupBy(x=>x.url).ToList())
                                        {
                                            
                                        <a href="@(enl.Key)" class="btn-convenio">@(link.numero) - @(enl.First().idioma)</a>
                                            
                                        }
                                    }
                                 }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</section>

@Html.Partial("_Nav_int_Institucional")
